<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
{% include './twig-demo/header_default.twig' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include './twig-demo/footer.twig' %}


<!-- Dump available variables if twig is in debug mode (see config.php) -->
<hr>
{{ dump() }}
<hr>

{% block scripts %}
    <script src="common.js"></script>
    {% block additional_js %}{% endblock %}
{% endblock %}
</body>
</html>
